@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: rem(16);
  line-height: rem(24);
  color: variables.$uoc-corporate;
  background-color: variables.$uoc-bg;
}

.uoc-container {
  max-width: rem(800);
  padding: 2rem;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 rem(4) rem(6) rem(-1) rgba(0, 0, 0, 0.1),
    0 rem(2) rem(4) rem(-1) rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  max-width: rem(200);
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: rem(24);
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: rem(36);
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
