<footer class="l-footer py-4 mt-auto">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2025 SLOW FIRE Jornada Gastronómica. Todos los derechos reservados.</p>
                <p class="mb-0"><small>Diseño y Desarrollo UOC PEC.</small></p>
            </div>
            
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-3"><a href="index.html" class="text-decoration-none">Inicio</a></li>
                    <li class="list-inline-item me-3"><a href="#politica" class="text-decoration-none">Privacidad</a></li>
                    
                    <!-- <li class="list-inline-item ms-3">
                        <a href="https://twitter.com" target="_blank" class="text-decoration-none">
                            <i class="bi bi-twitter fs-5"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" class="text-decoration-none">
                            <i class="bi bi-instagram fs-5"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>