<footer class="l-footer py-4 mt-auto">
   
    <div class="container ">
        <hr class="text-primary">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2025 SLOW FIRE Jornada Gastronómica.</p>
                <p class="mb-0"><small>Herramientas HTML y CSS II</small></p>
                <p class="mb-0"><small>Daniel Magro Martinez.</small></p> 
            </div>
            
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-2 mb-md-0">
                    <li class="list-inline-item me-3"><a href="./index.html" class="text-decoration-none text-primary hover-light">Inicio</a></li>
                    <li class="list-inline-item me-3"><a href="./ponentes.html" class="text-decoration-none text-primary hover-light">Invitados</a></li>
                    <li class="list-inline-item me-3"><a href="./articulos.html" class="text-decoration-none text-primary hover-light">Articulos</a></li>
                    <li class="list-inline-item me-3"><a href="./inscripcion.html" class="text-decoration-none text-primary hover-light">Inscripcion</a></li>
                    <li class="list-inline-item me-3"><a href="#politica" class="text-decoration-none text-primary hover-light">Política de Privacidad</a></li>
                    <li class="list-inline-item me-3"><a href="#politica" class="text-decoration-none text-primary hover-light">Contacto</a></li>
                </ul>

                <ul class="list-inline mb-2 mb-md-0">

                    <li class="list-inline-item">
                        <a href="https://twitter.com" target="_blank" class="c-social-links__icon">
                            <i class="fa-brands fa-x-twitter text-primary"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" class="c-social-links__icon">
                            <i class="fa-brands fa-instagram text-primary"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" target="_blank" class="c-social-links__icon">
                            <i class="fa-brands fa-facebook-f text-primary"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>