@use "sass:color";
@use "../01_utilities/variables" as *;
@use "../01_utilities/mixins" as *;
@use "../01_utilities/functions" as func;
@import "../03_vendors/bootstrap-custom";

@layer layout {
    .c-social-links__icon {

        display: inline-block;
        color: $primary;
        &:hover{
            color: $dark; 
            text-decoration: none;
        }
    }

    .c-social-links i {
        transition: color 0.3s ease, transform 0.3s ease;
    }
}