@use "../01_utilities/mixins" as *; // se ha tenido que traer aqui, por que desde main.scss no lo toma 

@layer layout {

    .l-grid-ponentes{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .l-grid-ponentes__item { 
        flex: 0 0 33.333%; /* 3 columnas */
    }

    @include media-down(md){
        .l-grid-ponentes__item {
           flex: 0 0 50%; /* 2 columnas */
        }
    }

    @include media-down(sm){
        .l-grid-ponentes__item {
            flex: 0 0 100%; /* 1 columna */
        }
    }
}