@use "../01_utilities/mixins" as *;
@use "../03_vendors/bootstrap-custom" as *;
@use "../01_utilities/functions" as *;


@layer pages {

    .p-agenda{
        padding-bottom: 3rem;
        color: $primary; 
        background-color: $dark; 
    }

    .agenda-header {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    
    .agenda-header__title{
        color: $primary;
        text-align: center;
        &::first-letter{
            font-size: 1.1em;
            font-weight: 800;
            color: $primary;
        }
    } 
    
    .btn-toggle-view {
        font-size: 1.25rem;
        font-weight: 600;
        box-shadow: 0 rem(4) rem(10) rgba(0, 0, 0, 0.5);
        transition: all 0.1s ease;
        
        &:not(.collapsed) {
            color: $light;
            background-color: $primary;
            border-color: $primary;
        }

        &.collapsed {
            color: $dark;
            background-color: $light;
            border-color: $dark;
        }
    }

    .content-area {
        min-height: 50vh;
        padding: 2rem;
        margin-top: 2rem;
        color: $dark;
        background-color: $light;
        border-radius: 0.75rem;
        box-shadow: 0 rem(10) rem(30) rgba(0, 0, 0, 0.5);
    }

    .accordion-item {
        border-color: $primary;
    }

    .accordion-button {
        &:not(.collapsed) {
            color: $light;
            background-color: $primary;
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($primary, 0.5);
        }
    }

    .timeline-item {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;
        border-left: rem(3) solid $secondary;
        
        &::before {
            position: absolute;
            top: rem(4);
            left: rem(-8);
            width: rem(16);
            height: rem(16);
            content: '';
            background-color: $primary;
            border: rem(3) solid $light;
            border-radius: 50%;
        }
    }

}