@use "../01_utilities/variables" as *;
@use "../01_utilities/mixins" as *;
@use "../01_utilities/functions" as func;
@use "sass:color";
@import "../03_vendors/bootstrap-custom";

@layer pages {

    .p-home__poster {
        position: relative;
        display: block;
        min-height: 90vh;
        padding: 2rem 1rem;
        color: $light; 
        text-align: center;
        background-color: $dark;
    }

    .hero__image-area { //img reformar
        display: block;
        max-width: 100%;
        height: 40vh; 
        margin: 1rem 0;

        @supports (display: grid) { 
            grid-row: 3 / 5;
            grid-column: 1 / 3; 
            height: auto; 
        }
    }
        
   .hero__title {
        font-family: $font-family-serif ;
        font-size: 4rem;
        font-weight: 700;
        color: $primary ; 
        text-transform: uppercase ;

    }

    .hero__title--initial{
        font-size:  1.2em;
        color: $primary;
    }

    .hero__subtitle {
        font-size: 2rem;
        font-weight: 300;
        color: color.adjust($light, $lightness: 10%); 
    }

    .hero__dates {
        display: block;
        margin: 1rem auto;

        color: $secondary; // Oliva para contraste
        span:first-child {
            font-weight: 700;
        }

        @supports (display: grid) {
            display: block;
            grid-row: 4;
            grid-column: 3;
            align-self: end;
            padding-bottom: 1rem;
            text-align: center;
        }
    }

    .hero__description {
        padding: 1rem; 
        font-size: $font-size-base * 1.1;
        text-align: justify;
        // Estilos para destacarlo
        border-left: func.rem(3) solid $primary;
    }

    // ====================================================
    // DISEÑO Movil
    // ====================================================
        
    .hero__action {
        display: block;
        margin: 1rem auto;
    }


    // ====================================================
    // DISEÑO CSS GRID (navegadores compatibles) 3x3
    // ====================================================

    @supports (display: grid) {
        .p-home__poster {
            display: grid;
            grid-template-rows: auto 1fr auto auto;
            grid-template-columns: repeat(3, 1fr); 
            gap: 1rem;
        }

        .hero__title { 
            grid-row: 1;
            grid-column: 1 / 4;
            color: $primary;
            text-align: center;
            
        }

        .hero__subtitle {
            grid-row: 2;
            grid-column: 1 / 4;
            color: $secondary;
            text-align: center;
        }

        
        .hero__description {
            grid-row: 3;
            grid-column: 3;
        }

        .hero__action {
            grid-row: 5;
            grid-column: 1 / 4;
            margin-top: 2rem;
            text-align: center;
        }
    }

    .map-responsive {
        position: relative;
        width: 100%;
        padding-bottom: 50%; 
        overflow: hidden; 
    }

    .map-responsive__iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
    }

    .map-responsive__link{
        display: none;
        font-size: 3rem;
        color: $primary;
        text-decoration: none;
    }

    // ----------------------------------------------------
    // 3. Media Query
    // ----------------------------------------------------

    @include media-breakpoint-up(md) {

        .p-home__poster {
            padding: 3rem 2rem;
        }

        .hero__title {
            font-size: 4rem;
        }   
    }

    @include media-down(md){
        .map-responsive {
            display: none;
        }

        .map-responsive__iframe {
                display: none;
        }

        .map-responsive__link{
            display:inline;
        }

        .p-home__poster {
            display: block;
        }
        
    }


}